*{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-family: 'Edu SA Beginner', cursiva;
    font-size: 4rem;
}

body{
    background-image: url('../images/fundo.jpg');
    background-size: cover;
}

.body-formRelatorio{
    background-image: url('../images/moca.jpg');
    background-size: cover;
}

.container-form{
    margin-right: 6rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-start;
}

input[type="text"]{
    width: 30rem;
    box-sizing: border-box;
  }
